@font-face {
    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/courier-prime-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/courier-prime-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  *{
    box-sizing: border-box;
  
  }
  body{
    margin: 0px;
  }
  .container{
    max-width: 1040px;
    width: 100%;
    

    padding:0 20px;
    margin: 0 auto;

  }
  .site-header {
    background-image: url(../images/header.jpg);


    
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 800;
    font-size: 25px;
    
    
}
.header-logo-link {
    text-decoration: none;
    margin-right: 150px;
    font-weight: 50px;
    font-size: 800;
    font-style: bold;  
}
.header-item-link {
    padding-bottom: 15px;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(31, 30, 30, 0.663);
}




.navbar {
    margin-right: 150px;
  
}
.header-list {
    list-style: none;
    display: flex;
    text-decoration: none;
   align-items: center;
}
.header-item{
    

}
.header-item:not(:last-child) {
    margin-right: 50px;
}
.header-link{
    border: 1px solid lightcoral;
    background-color: lightcoral;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all;
}
.header-link:hover{
    background-color: blue;
    color: white;

}
.section-hero {background-image: url(../images/main-bg.webp);
    padding-top: 50px;
    padding-bottom: 50px;
}


.hero-list {
    list-style: none;
    display: flex;
    text-decoration: none;
   align-items: center;
   flex-wrap: wrap;
   margin-left: 100px;
   
}
.hero-item {
    background-color: white;
    box-shadow: 8px 12px 5px 1px rgb(137, 194, 238);
    width: 350px;
    padding: 20px 35px ;
    margin-bottom: 30px;
    border-radius: 12px;

    

}
.hero-item:not(:last-child){
    margin-right: 30px;
   
}
.hero-description{
    font-weight: 40px;
    font-size: 20px;
    font-style: normal;
}
.features{
    background-color:rgb(3, 133, 176);
    padding-top: 500px;
}
